<ion-header>
  <ion-navbar color="darkbar">
    <ion-title>Dashboard</ion-title>
    <ion-buttons start>
      <button ion-button icon-only clear (click)="openModal()"  [color]="userColor">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class='content-home'>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngIf="!auth.isUserSignedIn()" color="light">
    <ion-card-content>
      Sign In to save credentials
  </ion-card-content>
  </ion-card>
  <div *ngIf="auth.isUserSignedIn()">
    <div>
      <h1 text-center class="xxl soft">Welcome</h1>
      <button ion-button full color="primary" (click)="save()">
        SAVE
      </button>
    </div>
  </div>

</ion-content>
