<ion-header>
  <ion-navbar color="darkbar">
    <ion-title>
      My Info
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" [enabled]="auth.isUserSignedIn()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="!auth.isUserSignedIn()" color="light">
    <ion-card-content>
      Sign In to see your info
    </ion-card-content>
  </ion-card>

  <div *ngIf="auth.isUserSignedIn()">
    <div *ngIf="(size | async) === 0" color="light">
      {{auth.currentUser()}}
    </div>
  </div>
</ion-content>
